<footer class="footer">
    <section class="footer__top-block container">
        <a href="#" class="footer__logo">
            <svg width="149" height="47">
                <use xlink:href="#icon-logo"></use>
            </svg> 
            TestWork
        </a>
        <div class="footer__section">
            <h3 class="footer__heading">COMPANY</h3>
            <ul class="footer__list">
                <li><a href="#" class="footer__link">About TripOp</a></li>
                <li><a href="#" class="footer__link">Work with Us</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">DISCOVER</h3>
            <ul class="footer__list">
                <li><a href="#" class="footer__link">How to Book?</a></li>
                <li><a href="#" class="footer__link">Methods of Payment</a></li>
                <li><a href="#" class="footer__link">General Conditions</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">CONNECT WITH US</h3>
            <ul class="footer__list">
                <li><a href="#" class="footer__link">
                <svg width="17" height="16">
                <use xlink:href="#icon-contact"></use>
            </svg>Contact Us</a></li>
                <li><a href="#" class="footer__link">
                <svg width="16" height="16">
                <use xlink:href="#icon-fb"></use>
            </svg>
                Facebook</a></li>
                <li><a href="#" class="footer__link">
                <svg width="16" height="16">
                <use xlink:href="#icon-insta"></use>
            </svg>
                Instagram</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__heading">BLOG</h3>
            <ul class="footer__list">
                <li><a href="#" class="footer__link">Choosing A Static Caravan</a></li>
                <li><a href="#" class="footer__link">Cost Cutting Ideas For Your Wedding</a></li>
            </ul>
        </div>
    </section>
    <p class="footer__copyright container">© 2016 All rights reserved. </p>
</footer>
