<figure class="illustration">
    <img src="img/beach.jpg" alt="beach" class="illustration__image" width="570" height="427">
    <figcaption class="illustration__text">
        <h3>Astonishing Beaches</h3>
        <p>Whether you’re staying in a luxury hotel in Havana or exploring the rural charms of Vinales, in some ways it’s all the real Cuba. Some travellers might opt to miss the beach resort town of Varadero, but this energetic beachside paradise should still  be an option to consider as part of your Cuban travel plans.</p>
    </figcaption>
</figure>