<section class="navigation">
    <div class="container">
       <button class="navigation__burger" type="button">
           <div class="hamburger-inner"></div> 
       </button>
        <nav>
            <ul class="navigation__list">
                <li><a href="#" class="navigation__link navigation__link--active">Summary</a></li>
                <li><a href="#" class="navigation__link">General</a></li>
                <li><a href="#" class="navigation__link">Sights</a></li>
                <li><a href="#" class="navigation__link">Weather</a></li>
                <li><a href="#" class="navigation__link">What to Do</a></li>
                <li><a href="#" class="navigation__link">Residential Guide</a></li>
                <li><a href="#" class="navigation__link">Photos</a></li>
            </ul>
        </nav>
    </div>
</section>