<section class="promo-slider swiper-container">
    <ul class="promo-slider__list swiper-wrapper">
        <li class="promo-slider__item swiper-slide" style="background-image: url(img/promo-cuba.jpg)" data-color="gold">
            <h1 class="promo-slider__heading">Cuba</h1>
            <p class="promo-slider__description"><span>Explore the world of Casas & Cadillacs</span></p>
        </li>
        <li class="promo-slider__item swiper-slide" style="background-image: url(img/promo-brgndy.jpg)" data-color="red">
            <h1 class="promo-slider__heading">Burgundy</h1>
            <p class="promo-slider__description"><span>Explore the luxury of Wine & Food</span></p>
        </li>
        <li class="promo-slider__item swiper-slide" style="background-image: url(img/promo-antarctica.jpg)" data-color="white">
            <h1 class="promo-slider__heading">Antarctica</h1>
            <p class="promo-slider__description"><span>Snow, ice, water, rock. Simply stunning.</span></p>
        </li>
    </ul>
    <div class="promo-slider__controls swiper-pagination">
        <!--
        <button class="promo-slider__button promo-slider__button--active" type="button"></button>
        <button class="promo-slider__button" type="button"></button>
        <button class="promo-slider__button" type="button"></button>
-->
    </div>
</section>
