<section class="slider">
    <div class="slider__wrap" id="carousel">
        <img src="img/slide-1.jpg" alt="cuba view">
        <img src="img/slide-2.jpg" alt="cuba view">
        <img src="img/slide-3.jpg" alt="cuba view">
        <img src="img/slide-4.jpg" alt="cuba view">
        <img src="img/slide-5.jpg" alt="cuba view">
    </div>
    <div class="slider__pagination">
        <a href="#" id="prev" class="slider__button slider__button--prev">Prev</a>
        <a href="#" id="next" class="slider__button slider__button--next">Next</a>
    </div>
</section>
 