$deafult-font: Arial, Helvetica, sans-serif;
$promo-font: Times, serif;
$serif-font: Georgia, serif;

$gold: #ECB84C;
$gold-light: #FFCF6A;
$gray: #505050;
$gray-light: #909090;
$gray-lighter: #DADADA;
$gray-dark: #4E5665;
$green: #37C491;
$border-color: rgba(208,212,216, 0.5);
$white: #FFFFFF;
$red: #8C001A;
$back: #F2F2F2;

$box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
$hover: all ease 0.5s;

$mobile: 990px;